.logo-img{
    width: 300px;
    height: auto;
}

.navbar {
    background:#006098;   /* for latest browsers */
    color: white;
    min-height: 56px;
 }

 .nav-link > i{
    color:white;
 }

 a.nav-link{
    color:white !important;
 }

 .navbar-toggler-bar{
   background:white !important;
 }
 